$color-primary: #BEAC8F;
$color-secondary: #9B2948;
$color-black: #0F0017;
$color-background: #231420;

$color-text: #978673;
$color-text-inactive: #6E6362;

$color-nav-inactive: #504344;
$color-nav-bar-shadow: #351C31;
$color-input-shadow: #4C182E;

